services:
  # linux/arm64/v8
  mtproto-proxy:
    image: nineseconds/mtg:latest
    container_name: mtproto-proxy
    ports:
      - "8443:3128"
    command: run --bind 0.0.0.0:3128 c6f96dae97f9ce5ebfd6a55b8d369a69
    restart: always
  mtproto-proxy-2:
    image: telegrammessenger/proxy:latest
    container_name: mtproto-proxy
    ports:
      - "8443:443"
    environment:
      - SECRET=e8c92e7ef920b52221c6315f711b5d9d
    restart: always
